form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0 20px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  max-height: 80vh;
  overflow: hidden !important;
}

/* .dialog {
  margin: -24px -24px 16px -24px;
  color: white;
  text-align: center;
} */

.container-dialog {
  width: 500px;
}

.container-dialog mat-dialog-content {
  padding: 0 !important;
}
