<cdev-container title="Users">
    <div class="table-title">
        <button mat-flat-button (click)="openForm()">
            <mat-icon>add</mat-icon>
            Add User
        </button>
    </div>
    <cdev-table [metaColumns]="metaColums" [dataSource]="response().data" class="table-data">
        <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef>Roles</th>
            <td mat-cell *matCellDef="let element">
                <span class="roles-cell">{{joinRoles(element.roles)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="text-align: right">
                <button mat-icon-button (click)="openForm(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="remove(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    </cdev-table>
    <cdev-navigation [hasMore]="response().hasMore" [currentPage]="currentPage()" (onChangePage)="changePage($event)"
        class="navigation"></cdev-navigation>
</cdev-container>