.table-title {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.table-data {
  margin-bottom: 16px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.goals-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.filters {
  display: flex;
  gap: 16px;
}
