mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  background: linear-gradient(180deg, #e4e8ee 0%, #535f6e 100%);
  width: 250px;
  color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
}
