form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0 20px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  max-height: 80vh;
}

.container-dialog {
  width: 500px !important;
  max-width: 500px !important;
}

.container-dialog mat-dialog-content {
  padding: 0 !important;
}

textarea {
  resize: vertical;
}

mat-toolbar {
  position: sticky;
}
