<mat-dialog-content>
    <mat-toolbar class="dialog">{{title}}</mat-toolbar>
    <form [formGroup]="fg">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Type the user name" formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Type the user email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Type the user password" formControlName="password" type="password"
                required="{{!dataInjected}}" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select formControlName="roleIds" required multiple>
                @for(role of roles(); track role.id) {
                <mat-option [value]="role.id">
                    {{role.name}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-flat-button (click)="save()">Save</button>
    <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>